---
const lastUpdated = new Intl.DateTimeFormat("en-US", {
  year: "numeric",
  month: "long",
  day: "numeric",
  hour: "2-digit",
  minute: "2-digit",
  second: "2-digit",
}).format(new Date());

export const prerender = true
---

<footer>
  <p>If you wan't to connect, feel free to <a href="mailto:mail@luxass.dev">reach out</a> to me.</p>
  <p>You can find the <a download href="resume.pdf">PDF Version</a> here.</p>
  <p>
    Last updated at <time>{lastUpdated}</time>
  </p>
</footer>
