<footer>
  <p>If you wan't to connect, feel free to <a href="mailto:mail@luxass.dev">reach out</a> to me.</p>
  <p class="print:hidden">You can find the <a download href="resume.pdf">PDF Version</a> here.</p>
</footer>
