---
import { Icon } from 'astro-icon/components'
import Link from './Link.astro'
---

<header>
  <div class="hidden print:(flex flex-col gap-y-2)">
    <Link
      href="mailto:mail@luxass.dev"
      aria-label="Email"
      class="inline-flex items-center gap-1"
    >
      <Icon name="carbon:email" class="text-xl" />
      Mail:
      <span>mail@luxass.dev</span>
    </Link>
    <Link
      href="https://github.com/luxass"
      aria-label="GitHub"
      class="inline-flex items-center gap-1"
    >
      <Icon name="carbon:logo-github" class="text-xl" />
      GitHub:
      <span>github.com/luxass</span>
    </Link>

    <Link
      href="https://www.linkedin.com/in/luxass/"
      aria-label="LinkedIn"
      class="inline-flex items-center gap-1"
    >
      <Icon name="carbon:logo-linkedin" class="text-xl" />
      LinkedIn:
      <span>linkedin.com/in/luxass</span>
    </Link>
  </div>
  <div
    class="flex flex-col gap-x-4 sm:flex-row sm:items-center sm:justify-between"
  >
    <h1>Lucas Nørgård</h1>
    <div class="flex gap-x-4 print:hidden">
      <Link
        href="mailto:mail@luxass.dev"
        aria-label="Email"
        class="inline-flex items-center gap-1 transition-transform active:scale-95 no-underline"
      >
        <Icon name="carbon:email" class="text-xl" />
        Mail
      </Link>
      <Link
        href="https://github.com/luxass"
        aria-label="GitHub"
        class="inline-flex items-center gap-1 transition-transform active:scale-95 no-underline"
      >
        <Icon name="carbon:logo-github" class="text-xl" />
        GitHub
      </Link>

      <Link
        href="https://www.linkedin.com/in/luxass"
        aria-label="LinkedIn"
        class="inline-flex items-center gap-1 transition-transform active:scale-95 no-underline"
      >
        <Icon name="carbon:logo-linkedin" class="text-xl" />
        LinkedIn
      </Link>
    </div>
  </div>
</header>
