---
import { Icon } from "astro-icon/components";
import Link from "./Link.astro";
---

<header class="mb-8 sm:mb-12">
  <h1 class="text-3xl sm:text-4xl font-semibold mb-2">Lucas Nørgård</h1>
  <div class="flex flex-wrap gap-4 text-muted-foreground">
    <div class="flex items-center">
      <Icon name="ph:envelope-simple" class="inline-block mr-2" size={20} />
      <a href="mailto:mail@luxass.dev" class="transition-transform active:scale-95">mail@luxass.dev</a>
    </div>
    <div class="flex items-center">
      <Icon name="ph:globe" class="inline-block mr-2" size={20} />
      <a href="https://luxass.dev" target="_blank" class="transition-transform active:scale-95">luxass.dev</a>
    </div>
    <div class="flex items-center">
      <Icon name="ph:map-pin-simple" class="inline-block mr-2" size={20} />
      <span class="transition-transform active:scale-95">Aarhus N, Denmark</span>
    </div>
    <div class="flex items-center">
      <Icon name="ph:github-logo" class="inline-block mr-2" size={20} />
      <a href="https://github.com/luxass" target="_blank" class="transition-transform active:scale-95">@luxass</a>
    </div>
    <div class="flex items-center">
      <Icon name="ph:linkedin-logo" class="inline-block mr-2" size={20} />
      <a href="https://linkedin.com/in/luxass" target="_blank" class="transition-transform active:scale-95">@luxass</a>
    </div>
  </div>
</header>
